.movie {
display: flex;
flex-direction: column;
text-align: center;
flex-basis: 30%;
margin-bottom: 30px;
}

.movie__poster {
  border-radius: 10px;
}

.movie__poster:hover {
  transform: scale(1.05);
}

.movie__title a {
  text-decoration: none;
  color: black
}

.movie__title:hover {
  text-decoration: underline;
  color: black
}

.movie__save {
  width: auto;
  height: 5%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 3px 4px 8px  #585858;
  background-color: rgba(0, 0, 0, 0.788);
  color: white;
  border-style: none;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: bold;
}