.movies {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.movie {
display: flex;
align-items: center;
flex-direction: column;
text-align: center;
flex-basis: 25%;
margin-bottom: 30px;
}

.movie__poster {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 10px;
  background-position: center;
  background-size: contain;
}

.movie__link {
  width: 200px;
}

.movie__poster:hover {
  transform: scale(1.05);
}

.movie__title a {
  text-decoration: none;
  color: black
}

.movie__title:hover {
  text-decoration: underline;
  color: black
}

.poster__button {
  border: none;
  background-color: transparent;
  margin-top: 5px;
}

.movie__save {
  width: auto;
  height: 20px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 3px 4px 8px  #585858;
  background-color: black;
  color: white;
  border-style: none;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: bold;
}

.movie__delete {
  margin-left: 5px;
  border-radius: 6px;
  height: 20px;
  background-color: black;
  color: white;
  border-style: none;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: bold;
}

.inactive {
  fill: grey;
}

.active {
  fill: red;
}
