.header {
  display: flex;
  list-style: none;
  margin: 0 0;
  padding: 0 0;
  border-bottom: 3px solid black;

}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 5px;
  height: auto;
  width: 240px;
}

.header__logo:hover {
  transform: scale(1.05);
}

.header__saved {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 5px;

}

.header__saved__link {
  text-decoration: none;
  color: black;
}

.header__saved__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 15px;
  width: 130px;
  text-align: center;
  color: white;
  background-color: rgba(243, 95, 75, 0.863);
  margin-bottom: 16px;
  margin-top: 0;
  padding: 4.5px 0;
  
}

.header__saved__text:hover {
  background-color: rgba(241, 51, 26, 0.863);
}

.saved {
  width: 80%;
  display: flex;
}

.logout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 55px 16px 0px;
}

.logout__button {
  border-radius: 12px;
  height: 25%;
  background-color: rgba(243, 95, 75, 0.863);
  color: white;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: bold;
  border: 1px solid white;
  font-size: medium;
}

.logout__button:hover {
  background-color: rgba(241, 51, 26, 0.863);
}

